<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 second">
    <property name="app_name" value="MiniFox"/>
    <contextName>${app_name}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>